<div class="wrapper">
  <div class="title">Companies</div>
  <div id="list">
    <h2 *ngIf="!companies?.length">No Companies Found!</h2>
    <div *ngIf="companies?.length">
      <mat-card class="mat-elevation-z8" *ngFor="let c of companies">
        <mat-card-content>
          <mat-card-title>{{c.name}}</mat-card-title>
          <div class="info">
            <label for="address">Address:</label>
            <span id="address">{{c.address}}</span>
          </div>
          <div class="info">
            <label for="phone">Phone:</label>
            <span id="phone">{{c.phone}}</span>
          </div>
          <div class="info">
            <label for="revenue">Revenue:</label>
            <span id="revenue">{{c.revenue}} $</span>
          </div>
          <mat-card-footer>
            <button mat-mini-fab color="primary" (click)="edit(c)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab (click)="delete(c)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-footer>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div id="write">
    <mat-card id="writeCard" class="mat-elevation-z8">
      <mat-card-content>
        <mat-card-title>{{title}}</mat-card-title>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input type="text" id="name" name="name" [formControl]="name" matInput required>
          <mat-error *ngIf="name.invalid && name.touched">required!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input type="text" id="address" name="address" [formControl]="address" matInput required>
          <mat-error *ngIf="address.invalid && address.touched">required!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone</mat-label>
          <input type="tel" id="phone" name="phone" [formControl]="phone" matInput required>
          <mat-error *ngIf="phone.invalid && phone.touched">required!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Revenue</mat-label>
          <input type="number" min="0" id="revenue" name="revenue" [formControl]="revenue" matInput required>
          <mat-icon matSuffix>attach_money</mat-icon>
          <mat-error *ngIf="revenue.invalid && revenue.touched">required!</mat-error>
        </mat-form-field>
        <mat-card-footer>
          <button mat-mini-fab color="primary" (click)="submit()" *ngIf="name.valid && address.valid && phone.valid && revenue.valid">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-mini-fab (click)="cancel()" *ngIf="editingCompanyId">
            <mat-icon>close</mat-icon>
          </button>
        </mat-card-footer>
      </mat-card-content>
    </mat-card>
  </div>
</div>
