/* COLORs
---------------------------------------------------------------------------------*/
$color-light: #ebebeb;
$color-dark: #333333;

$color-success: #2fb13a;
$color-success-light: #c2e5c4;
$color-danger: #b12f2f;
$color-danger-light: #eec9c9;
$color-alert: #b1992f;
$color-alert-light: #eee7ca;


/* DIMENSIONs
---------------------------------------------------------------------------------*/
$width-table: 90%;
$height-footer: 2rem;
